            <!-- =================== -->
            <!-- FINISH MAIN CONTENT -->
            <!-- =================== -->

            <footer class="footer mt-5">
                <div class="container">
                    <div class="info-footer row">
                        <div class="col-12 col-sm-6 col-lg-3">
                            <ul class="footer-section">
                                <li class="footer-title">Navegación</li>
                                <li class="footer-item"><a href="/">Inicio</a></li>
                                <li class="footer-item"><a href="/productos">Productos</a></li>
                                <li class="footer-item"><a href="/contacto">Contacto</a></li>
                                <li class="footer-item"><a href="/#nosotros">Nosotros</a></li>
                                <% if (currentUser) { %>
                                    <li class="footer-item"><a href="/nuevo-producto">Nuevo Producto</a></li>
                                    <li class="footer-item"><a href="/salir">Salir</a></li>
                                <% } else { %>
                                    <li class="footer-item"><a href="/usuario/ingresar">Ingresar</a></li>
                                <% } %>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <ul class="footer-section">
                                <li class="footer-title">Métodos de pago</li>
                                <li class="footer-item"><p><i class="far fa-credit-card"></i>Mercado Pago</p></li>
                                <li class="footer-title">Envíos</li>
                                <li class="footer-item"><p><i class="fas fa-envelope-square"></i>Mercado Envíos</p></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <ul class="footer-section">
                                <li class="footer-title">Contactanos</li>
                                <li class="footer-item">
                                    <p class="footer-link"><i class="fas fa-phone-square"></i><a href="tel:+5493534239028">3534239028</a></p>
                                </li>
                                <li class="footer-item">
                                    <p class="footer-link"><i class="fas fa-at"></i><a href="mailto:noahjoyas@gmail.com">noahjoyas@gmail.com</a></p>
                                </li>
                                <li class="footer-item">
                                    <p><i class="fas fa-map-marker-alt"></i>Córdoba 142, Planta Alta</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-3">
                            <ul class="footer-section">
                                <li class="footer-title">Redes Sociales</li>
                                <li class="footer-item">
                                    <p><span class="social-icons">
                                        <a href="https://facebook.com/Noahjoyas" target="_blank"><i class="fab fa-facebook-square"></i></a>
                                        <a href="https://instagram.com/Noahjoyas" target="_blank"><i class="fab fa-instagram"></i></a>
                                        <a id="wspp-icon" href="https://web.whatsapp.com/send?phone=5493534239028&text=Hola%2C%20quisiera%20hacerte%20una%20consulta" target="_blank"><i class="fab fa-whatsapp"></i></a>
                                    </span></p>
                                </li>
                                <li class="footer-title">Newsletter</li>
                                <li>
                                    <form action="/" method="POST">
                                        <input name="newsletter" type="mail" placeholder="Email">
                                        <button><i class="far fa-envelope"></i></button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <p class="copyright">&copy; NOAH, JOYAS & PIEDRAS - 2019</p>
                </div>
            </footer>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
            <script src="/scripts/main.js"></script>
        </body>

    </html>