</head>
        <body>

        <!-- Start Navigation Bar -->

            <nav class="navbar navbar-expand-md mb-5">
                <span class="social-icons nav-social">
                        <a href="https://facebook.com/Noahjoyas" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://instagram.com/Noahjoyas" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a id="wspp-icon" href="https://web.whatsapp.com/send?phone=5493534239028&text=Hola%2C%20quisiera%20hacerte%20una%20consulta" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    </span>
                <div class="header text-center">
                    <a class="navbar-brand" href="/">
                        <img class="noah-logo" src="/imgs/noah-logo.jpg" alt="Noah, Piedras y Joyas">
                    </a>
                    <h3 class="logo-title">Joyas & Piedras</h3>
                    <p class="text-center">Mayorista</p>
                </div>
                <hr class="clearfix">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-menu">
                        <li class="nav-item">
                            <a href="/">Inicio</a>
                            <hr class="underline p-0"/>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="/productos">Productos</a>
                            <hr class="underline p-0"/>
                            <span class="dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="/productos" class="dropdown-item">Anillos</a>
                                <a href="/productos" class="dropdown-item">Pulseras</a>
                                <a href="/productos" class="dropdown-item">Aros</a>
                                <a href="/productos" class="dropdown-item">Colgantes</a>
                                <a href="/productos" class="dropdown-item">Piedras</a>
                                <a href="/productos" class="dropdown-item">Conjuntos</a>
                                <a href="/productos" class="dropdown-item">Productos<br /> Exclusivos</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/contacto">Contacto</a>
                            <hr class="underline p-0"/>
                        </li>
                        <li class="nav-item">
                            <a href="/#nosotros">Nosotros</a>
                            <hr class="underline p-0"/>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- End Navigation Bar -->
            
            <!-- Flash Alerts -->
            
            <div class="alert-container">
                <div class="container">
                    <% if (error && error.length > 0) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                    <% } %>
                    <% if (success && success.length > 0) { %>
                        <div class="alert alert-success" role="alert">
                            <%= success %>
                        </div>
                    <% } %>
                </div>
            </div>
            
            <!-- End Flash Alerts -->

            <!-- =================== -->
            <!--     MAIN CONTENT    -->
            <!-- =================== -->
