
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/contacto">Contacto</a>
        </li>
        <li>
            <a href="/ingresar">Ingresar</a>
        </li>
        <li>
            <a href="/productos/nuevo">Nuevo</a>
        </li>
    </ul>