    <% include partials/header %>
    
            <title>NOAH - Joyas & Piedras</title>
            <link href="/stylesheets/index.css" rel="stylesheet">
            
    <% include partials/nav %>
    
            <div class="main">

            <!-- Start Video -->

                <div class="video-div">
                    <video class="myVideo" autoplay="" loop="" muted="" controlslist="nodownload" preload="none" playsinline="true" poster="https://www.rabat.net/pub/media/wysiwyg/home/home-web-01022019.jpg" class="vsc-initialized" data-vscid="11r7e89xo">
                        <source src="https://www.rabat.net/pub/donwloads/video-02012019.mp4" type="video/mp4">
                    </video>
                    <div class="video-overlay">
                        <div class="text-center m-auto">
                            <h2>Noah</h2>
                            <h3>Joyas & Piedras</h3>
                            <button><a href="/productos">Ver Productos</a></button>
                        </div>
                    </div>
                </div>

            <!-- End Video -->

                <div class="container mt-5" id="nosotros">
                    <h4 class="subtitle text-center">Quiénes Somos</h4>
                    <div class="container">
                        <div class="marco">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget mi neque. Phasellus lorem elit, convallis a viverra ac, accumsan tempus mauris. Nam pellentesque justo ut massa accumsan pellentesque. Cras commodo, nunc eget egestas pretium, neque lacus porttitor est, ut eleifend odio nibh id orci. Sed eu suscipit tellus. Sed sollicitudin enim in augue tempor, id euismod felis aliquam. Aliquam venenatis mauris nulla, nec lacinia erat rhoncus nec.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget mi neque. Phasellus lorem elit, convallis a viverra ac, accumsan tempus mauris. Nam pellentesque justo ut massa accumsan pellentesque.</p>
                         </div>
                     </div>
                </div>
            </div>

            <% include partials/footer %>