<% include partials/header %>

            <title>Nuevo Producto - NOAH</title>
            <link href="/stylesheets/user.css" rel="stylesheet">


<% include partials/nav %>

            <div class="container">
                <div class="main">
                    <div class="greeting">
                        <h1>Cargar Nuevo Producto</h1>
                        <form class="upload-form" action="./nuevo" enctype="multipart/form-data" method="POST">
                            <input type="file" id="image" name="image" accept="image/png, image/jpeg" class="d-none" required>
                            <img id="product-image" src="" class="d-none">
                            <label id="image-label" for="image">Selecciona tu imagen</label>
                            <input type="text" name="serial" placeholder="Código de Serie" required>
                            <input type="text" name="description" placeholder="Descripción" required>
                            <input type="number" name="price" placeholder="Precio" min="0" step="1" required>
                            <select name="type" required>
                                <option value="" hidden selected>Tipo</option>
                                <option value="stone-ring">Anillo de Piedra</option>
                                <option value="letter-ring">Anillo con Inicial</option>
                                <option value="letter-bracelet">Pulsera de Piedra</option>
                                <option value="stone-bracelet">Pulsera con Inicial</option>
                                <option value="earring">Aro</option>
                                <option value="stone-necklace">Colgante de Piedra</option>
                                <option value="letter-necklace">Colgante con Inicial</option>
                                <option value="name-necklace">Colgante con Nombre</option>
                                <option value="rhodochrosite-stone">Piedra: Rodocrosita</option>
                                <option value="onix-stone">Piedra: Onix</option>
                            </select>
                            <input type="submit" value="Cargar">
                        </form>
                        <button class="back"><a href="bienvenido.html">Atrás</a></button>
                    </div>
                </div>
            </div>

<% include partials/footer %>