<% include partials/header %>

            <title>Bienvenido - NOAH</title>
            <link href="/stylesheets/user.css" rel="stylesheet">


<% include partials/nav %>

            <div class="container">
                <div class="main">
                    <div class="greeting">
                        <h1>Bienvenido, Noé</h1>
                        <h2>¿Qué deseas hacer?</h2>
                        <button class="choose-path"><a href="../productos/nuevo">Subir Nuevo Producto</a></button>
                        <button class="choose-path"><a href="/productos">Editar Producto Existente</a></button>
                    </div>
                </div>
            </div>

<% include partials/footer %>