* {
  margin: 0;
}

body {
  min-height: 100vh;
}

.nav-space {
  width: 100%;
  height: 12rem;
}

nav {
  border-bottom: 1px solid black;
  background: #111;
  position: absolute;
  top: 0px;
  z-index: 6000;
  width: 100%;
  height: 13rem;
  color: #eee;
}

header.logo {
  margin: 0 auto;
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav h1 {
  font-family: "Italianno", cursive;
  font-size: 7rem;
  height: 6rem;
}

nav h2 {
  font-size: 2.5rem;
}

nav h4 {
  font-size: 1.5rem;
}

.menu-display {
  position: absolute;
  top: 1.5rem;
  right: 36.5rem;
  background-color: #222;
  padding-left: 2.5rem;
  z-index: 6000;
  min-height: 100vh;
  box-shadow: inset 0.02rem -0.02rem 0.5rem 0.02rem;
  width: 65%;
  border-radius: 0.4rem;
  transition: right 0.5s;
}

#product-list {
  display: none;
}

nav .nav-link {
  color: #eee;
  text-decoration: none;
  margin-bottom: 0;
}

nav a:focus,
nav a:active,
.menu-toggle:focus,
#close-menu:focus {
  outline: none;
}

.menu-toggle {
  width: 3rem;
  background: inherit;
  border: none;
  color: inherit;
  font-size: 2.5rem;
}

#menu-open {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
}

#menu-close {
  position: absolute;
  left: 20.5rem;
  top: 0;
}

.nav-menu li {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

ul.nav-social {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2.5rem;
  padding: 0;
}

ul.nav-menu {
  padding: 0;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 480px) {
  .mobile-only {
    display: block;
  }
}
